@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #D40000;
    }
}

.text-glow {
    text-shadow: 0 0 10px rgba(212,0,0,0.5);
}

.shadow-glow {
    box-shadow: 0 0 20px -5px rgba(212, 0, 0, 0.3);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes pulse-shadow-red {
  0%, 100% {
    box-shadow: 0 0 40px rgba(212, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 80px rgba(212, 0, 0, 0.8), 0 0 20px rgba(212, 0, 0, 0.5) inset;
  }
}

.animate-pulse-shadow-red {
  animation: pulse-shadow-red 2s infinite ease-in-out;
}
